@import "init.scss";
@font-face
{
font-family: "azhu";
src: url('../../font/azhu.ttf');
    //  url('Sansation_Bold.eot'); /* IE9+ */
font-weight:bold;
}



body{
    min-width: 1200px;
    .center{
        height: 120px;
    }
    .center-wrap{
        .banner{
            width: 100%;
            height: 360px;
            // background-image: url(/img/banner2.png);
            background-image: url("../../img/banner2.png");
            background-repeat: no-repeat;
            background-position: center center;
            text-align: center;
            padding-top: 136px;
            box-sizing: border-box;
            color: #ffffff;
            font-family:"pingfang";
            .name{
                font-size: 54px;
            }
            span{
                font-size:16px;
                font-family:"pingfang";
                font-weight:500;
                color: #ffffff;
            }
            .current{
                color: #FF8D47;
            }
        }
        .text1{
            margin-top: 60px;
            text-align: center;
            font-size:36px;
            font-family:"Raleway";
            font-weight:400;
            color:rgba(51,51,51,1);
            line-height:60px;
        }
        .text2{
            text-align: center;
            font-size:36px;
            font-family:"pingfang";
            font-weight:800;
            color:rgba(51,51,51,1);
            line-height:60px;
            margin-bottom: 47px;

        }
        // **************
        .video-box{
            display: flex;
            justify-content: center;
            flex-wrap:nowrap;
            margin: 0 auto;
            height: 450px;
            
           
             .video-box1{
                width: 600px;
                height: 450px;
                background-image: url("../../img/about-img.png");
                position: relative;
                float: left;
                img{
                  position: absolute;
                  top: 150px;
                  left: 230px;
                }
             }
              .video-box2{
                margin-left: 50px;
                width:550px;
                height:357px;
                font-size:15px;
                font-family:"pingfang";
                font-weight:400;
                color:rgba(131,131,131,1);
                float: left;
                text-align: justify;
                text-indent: 4em;
              }
           }
        // **************
        .img-list{
            width: 1200px;
            height: 285px;
            margin: 60PX auto;
            // display: flex;
            // justify-content: space-between;
            img{
                display: block;
                width: 380px;
                height: 285px;
                background-color: #ccc;
                float: left;
                margin-right: 30px;
            }
            img:last-child{
                margin-right: 0px;
            }

        }
    }

}

@media screen and (max-width:480px){ 
    body{
        min-width: 100%;
        .center-wrap{
            width: 100%;
            .banner{
                width: 100%;
                height: 160px;
                background-image: url("../../img/banner2.png");
                background-repeat: no-repeat;
                background-position: center center;
                text-align: center;
                padding-top: 36px;
                box-sizing: border-box;
                color: #ffffff;
                font-family:"pingfang";
                .name{
                    font-size: 30px;
                }
                span{
                    font-size:16px;
                    font-family:"pingfang";
                    font-weight:500;
                    color: #ffffff;
                }
                .current{
                    color: #FF8D47;
                }
            }
            .text1{
                margin-top: 60px;
                text-align: center;
                font-size:36px;
                font-family:"Raleway";
                font-weight:400;
                color:rgba(51,51,51,1);
                line-height:60px;
            }
            .text2{
                text-align: center;
                font-size:36px;
                font-family:"pingfang";
                font-weight:800;
                color:rgba(51,51,51,1);
                line-height:60px;
                margin-bottom: 47px;
    
            }
            .video-box{
                display: flex;
                justify-content: center;
                flex-wrap:wrap;
                margin: 0 auto;
                // height: 450px;
                height: auto;
                
               
                 .video-box1{
                    width:90%;
                    height: 450px;
                    background-image: url("../../img/about-img.png");
                    position: relative;
                    float: left;
                    img{
                      position: absolute;
                      top: 150px;
                      left: 30px;
                    }
                 }
                  .video-box2{
                    text-align: center;
                    margin-left: 0px;
                    width:90%;
                    height:auto;
                    font-size:15px;
                    font-family:"pingfang";
                    font-weight:400;
                    color:rgba(131,131,131,1);
                    float: left;
                    text-align: justify;
                    text-indent: 4em;
                  }
               }

               .img-list{
                width: 90%;
                height: 285px;
                margin: 60PX auto;
                // display: flex;
                // justify-content: space-between;
                img{
                    display: block;
                    width: 100%;
                    height: auto;
                    background-color: #ccc;
                    float: left;
                    margin-bottom: 30px;
                }
                img:last-child{
                    margin-right: 0px;
                }
    
            }   

    
        }
    
    }
}

