@font-face {
  font-family: "pingfang_light";
  src: url("../../font/pingfang_light.ttf");
}

@font-face {
  font-family: "pingfang_bold";
  src: url("../../font/pingfang_bold.ttf");
}

@font-face {
  font-family: "pingfang";
  src: url("../../font/pingfang.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("../../font/raleway_regular.ttf");
}

body,
header,
section,
footer,
div,
ul,
ol,
li,
img,
a,
span,
em,
del,
legend,
center,
strong,
var,
fieldset,
form,
label,
dl,
dt,
dd,
cite,
input,
hr,
time,
mark,
code,
figcaption,
figure,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
.swiper-slide,
.swiper-container,
.carousel,
p {
  margin: 0;
  border: 0;
  padding: 0;
  font-style: normal;
  text-decoration: none;
}

li {
  list-style: none;
}

.email-us {
  position: fixed;
  top: 750px;
  right: 20px;
}

.email-us img {
  width: 48px;
  vertical-align: middle;
}

.email-us span {
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #333333;
}

nav.com-nav {
  width: 100%;
  height: 120px;
  background-color: #FFFFFFFF;
  float: left;
  background: white;
  position: fixed;
  z-index: 9;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.48);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.48);
}

nav.com-nav .nav-box1 {
  width: 655px;
  height: 140px;
  float: left;
  position: relative;
  background: #1b1c38;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  right: 20px;
  -webkit-box-shadow: 4px 4px 0px 8px rgba(87, 88, 88, 0.5);
          box-shadow: 4px 4px 0px 8px rgba(87, 88, 88, 0.5);
}

nav.com-nav .nav-box1 img {
  width: 200px;
  height: 55px;
  position: absolute;
  top: 43px;
  right: 55px;
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
}

nav.com-nav .nav-box2 {
  float: left;
  height: 120px;
  width: calc(100% - 655px);
  overflow: hidden;
}

nav.com-nav .nav-box2 .nav-box2-ul {
  margin-left: 30%;
}

nav.com-nav .nav-box2 .nav-box2-ul li {
  float: left;
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: 800;
  line-height: 120px;
  margin-left: 2%;
  position: relative;
}

nav.com-nav .nav-box2 .nav-box2-ul li a {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.48);
}

nav.com-nav .nav-box2 .nav-box2-ul li .a-default {
  color: #39518f;
}

nav.com-nav .nav-box2 .nav-box2-ul li .a-default:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 35%;
  left: 0;
  width: 50%;
  margin-left: 25%;
  height: 4px;
  background: #39518f;
}

nav.com-nav .com-inquiry {
  background-image: url(/img/contact_us_bg.png);
  background-position: center center;
  height: 656px;
  width: 100%;
  padding-top: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 60px;
}

nav.com-nav .com-inquiry .title {
  font-size: 48px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #1b1c38;
  text-align: center;
}

nav.com-nav .com-inquiry .input-wrap {
  max-width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav.com-nav .com-inquiry .input-wrap .input-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav.com-nav .com-inquiry .input-wrap .input {
  height: 60px;
  line-height: 60px;
  margin: 20px 0 20px 0;
  text-align: right;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav.com-nav .com-inquiry .input-wrap .input .name {
  width: 100px;
  text-align: right;
}

nav.com-nav .com-inquiry .input-wrap .input input {
  background: none;
  height: 60px;
  width: 500px;
  margin-left: 10px;
  border: 2px solid #666666;
  padding-left: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav.com-nav .com-inquiry .input-wrap .input input:focus {
  outline: none;
  border: 2px solid #ff9806;
}

nav.com-nav .com-inquiry .input-wrap .max-ipt {
  max-width: 1090px;
  min-width: 1090px;
  margin-top: 40px;
  float: right;
}

nav.com-nav .com-inquiry .input-wrap .max-ipt input {
  width: 100%;
  margin-left: 0;
}

nav.com-nav .com-inquiry .input-wrap .send {
  width: 502px;
  height: 60px;
  float: right;
  margin-top: 24px;
}

nav.com-nav .com-inquiry .input-wrap .send input {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: bold;
  background: #ff9806;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 500px;
  background: #1b1c38;
  position: relative;
  overflow: hidden;
}

.footer ul {
  overflow: hidden;
  width: 100%;
  float: left;
}

.footer ul li {
  width: 50%;
  float: left;
}

.footer ul .footer-li1 {
  font-size: 16px;
  font-family: Arial;
  font-weight: 400;
  color: white;
  margin-top: 112px;
}

.footer ul .footer-li1 h4 {
  font-size: 26px;
  font-family: Arial;
  font-weight: 400;
  color: white;
  padding-left: 50%;
  position: relative;
  cursor: pointer;
}

.footer ul .footer-li1 h4 span:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 70px;
  border-bottom: 3px solid #21bcd8;
  text-align: center;
  height: 4px;
  cursor: pointer;
}

.footer ul .footer-li1 p {
  line-height: 40px;
  padding-left: 50%;
}

.footer ul .footer-li1 p .footer-p-span-glide {
  width: 25px;
  height: 2px;
  background: #21bcd8;
  display: inline-block;
  line-height: 40px;
}

.footer ul .footer-li1 p span {
  cursor: pointer;
}

.footer ul .footer-li1 p:nth-of-type(1) {
  margin-top: 20px;
}

.footer ul .footer-li2 {
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: white;
  margin-top: 122px;
  border-left: 3px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer ul .footer-li2 p {
  padding-left: 20%;
  line-height: 40px;
  cursor: pointer;
}

.footer .p-icon {
  font-size: 16px;
  font-family: Arial;
  font-weight: 400;
  color: white;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 50px;
  padding-top: 50px;
  cursor: pointer;
}

.footer .p-icon img {
  vertical-align: middle;
  margin-left: 10px;
}

.footer h5 {
  background: #16172e;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 62px;
  width: 100%;
  line-height: 62px;
  text-align: center;
  font-size: 14px;
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

@font-face {
  font-family: "azhu";
  src: url("../../font/azhu.ttf");
  font-weight: bold;
}

body .center {
  margin: auto;
  width: 100%;
}

body .carousel {
  height: 660px;
  width: 100%;
}

body .carousel .swiper-container {
  width: 100%;
  height: 100%;
}

body .carousel .swiper-container .swiper-pagination-bullet-active {
  background-color: white;
}

body .carousel .swiper-container .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

body .carousel .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .carousel .swiper-slide img {
  width: 100%;
  height: 100%;
}

body .carousel .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 120px;
}

body .section {
  width: 100%;
}

body .section .section-box1 {
  width: 1400px;
  height: 704px;
  margin: 0 auto;
  background: white;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
  margin-top: -100px;
  position: relative;
  z-index: 1;
}

body .section .section-box1 h4 {
  padding-top: 60px;
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: bold;
  text-decoration: underline;
  color: #39518f;
}

body .section .section-box1 h3 {
  font-size: 36px;
  font-family: Raleway;
  font-weight: 400;
  color: #333333;
  line-height: 60px;
}

body .section .section-box1 p {
  text-indent: 1em;
  width: 1052px;
  height: 78px;
  font-size: 32px;
  margin-left: 170px;
  font-family: PingFang SC;
  font-weight: 800;
  color: #333333;
}

body .section .section-box1 ul {
  width: 90%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-left: 5%;
  margin-top: 50px;
}

body .section .section-box1 ul li {
  width: 290px;
  height: 362px;
  background: white;
  border: 1px solid #e1e1e1;
  -webkit-box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.12);
}

body .section .section-box1 ul li div {
  overflow: hidden;
}

body .section .section-box1 ul li div:first-child div {
  width: 96%;
  height: 100%;
  margin-left: 2%;
}

body .section .section-box1 ul li div:first-child div img {
  margin-top: 8px;
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

body .section .section-box1 ul li div:first-child div img:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

body .section .section-box1 ul li div:last-child {
  margin-top: 20px;
}

body .section .section-box1 ul li div:last-child span {
  float: left;
  margin-left: 10px;
}

body .section .section-box1 ul li div:last-child img {
  vertical-align: middle;
  float: right;
  margin-right: 10px;
}

body .section .section-box2 {
  width: 1400px;
  height: 704px;
  margin: 0 auto;
  background: white;
  text-align: center;
}

body .section .section-box2 h4 {
  padding-top: 60px;
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: bold;
  text-decoration: underline;
  color: #39518f;
}

body .section .section-box2 h3 {
  font-size: 36px;
  font-family: Raleway;
  font-weight: 400;
  color: #333333;
  line-height: 60px;
}

body .section .section-box2 p {
  text-indent: 1em;
  width: 1052px;
  height: 78px;
  font-size: 32px;
  margin-left: 170px;
  font-family: PingFang SC;
  font-weight: 800;
  color: #333333;
}

body .section .section-box2 .video-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 auto;
  height: 50px;
}

body .section .section-box2 .video-box .video-box1 {
  width: 600px;
  height: 450px;
  background-image: url(/img/about-img.png);
  position: relative;
  float: left;
}

body .section .section-box2 .video-box .video-box1 img {
  position: absolute;
  top: 180px;
  left: 230px;
}

body .section .section-box2 .video-box .video-box2 {
  margin-left: 50px;
  width: 550px;
  height: 357px;
  font-size: 15px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #838383;
  float: left;
  text-align: justify;
  text-indent: 4em;
}

body .section .section-box3 {
  width: 100%;
  height: 830px;
  background-image: url("../../img/capabilrly-bg.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 60px;
}

body .section .section-box3 h4 {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: bold;
  text-decoration: underline;
  color: #ff8d47;
}

body .section .section-box3 h3 {
  font-size: 36px;
  font-family: Raleway;
  font-weight: 400;
  color: white;
  line-height: 60px;
}

body .section .section-box3 h2 {
  font-size: 36px;
  font-family: PingFang SC;
  font-weight: 800;
  color: white;
  line-height: 60px;
}

body .section .section-box3 div.publicity {
  width: 70%;
  margin-left: 15%;
}

body .section .section-box3 div.publicity div:first-child {
  width: 45%;
  height: 550px;
  float: left;
  margin-left: 0;
  text-align: center;
  background: #39518f;
}

body .section .section-box3 div.publicity div:first-child h3 {
  font-size: 40px;
  font-family: PingFang SC;
  font-weight: 800;
  color: white;
  line-height: 60px;
}

body .section .section-box3 div.publicity div:first-child .h3-1 {
  margin-top: 40px;
}

body .section .section-box3 div.publicity div:first-child p.p-font {
  width: 80%;
  margin-left: 10%;
  height: 107px;
  border: 1px solid white;
  font-size: 22px;
  font-family: PingFang SC;
  font-weight: 500;
  color: white;
  text-align: center;
  padding-top: 10px;
  margin-top: 40px;
  overflow: hidden;
}

body .section .section-box3 div.publicity div:first-child .average-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
}

body .section .section-box3 div.publicity div:first-child .average-p img {
  width: 110px;
  margin-top: 30px;
  border: 0.5px dashed #878787;
}

body .section .section-box3 div.publicity div:first-child .average-p1 {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: bold;
  color: white;
  margin-top: 10px;
}

body .section .section-box3 div.publicity div:last-child {
  width: 55%;
  height: overflow;
  float: left;
  margin-left: 0;
}

body .section .section-box3 div.publicity div:last-child ul {
  width: 100%;
  height: 730px;
}

body .section .section-box3 div.publicity div:last-child ul li {
  width: 49%;
  height: 370px;
  background: white;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.17);
  float: left;
  text-align: left;
  overflow: hidden;
}

body .section .section-box3 div.publicity div:last-child ul li h2 {
  font-size: 48px;
  font-family: PingFang SC;
  font-weight: 800;
  color: #39518f;
  width: 90%;
  margin-left: 5%;
}

body .section .section-box3 div.publicity div:last-child ul li h3 {
  font-size: 20px;
  font-family: PingFang SC;
  font-weight: 800;
  color: #15142a;
  width: 90%;
  margin-left: 5%;
  position: relative;
}

body .section .section-box3 div.publicity div:last-child ul li h3:before {
  content: '';
  position: absolute;
  bottom: 5px;
  border-top: 3px solid #39518f;
  width: 56px;
  height: 2px;
}

body .section .section-box3 div.publicity div:last-child ul li p {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #15142a;
  line-height: 27px;
  width: 90%;
  margin-left: 5%;
}

body .section .section-box3 div.publicity div:last-child ul li:nth-of-type(2), body .section .section-box3 div.publicity div:last-child ul li:nth-of-type(4) {
  margin-left: 1%;
}

body .section .section-box3 div.publicity div:last-child ul li:nth-of-type(3), body .section .section-box3 div.publicity div:last-child ul li:nth-of-type(4) {
  margin-top: 1%;
}

body .section .setion-box4 {
  width: 100%;
  height: 862px;
  background-image: url("/img/certificate-bg.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
}

body .section .setion-box4 h4 {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: bold;
  text-decoration: underline;
  color: #39518f;
  margin-top: 168px;
}

body .section .setion-box4 h3 {
  font-size: 40px;
  font-family: Raleway;
  font-weight: 400;
  color: #333333;
  line-height: 60px;
}

body .section .setion-box4 h2 {
  font-size: 40px;
  font-family: PingFang SC;
  font-weight: 800;
  color: #333333;
  line-height: 60px;
}

body .section .setion-box4 .honor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 60%;
  height: 420px;
  margin-top: 50px;
  margin-left: 20%;
}

body .section .setion-box4 .honor div {
  width: 49%;
  height: 100%;
  -webkit-box-shadow: 0px 7px 32px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 7px 32px 0px rgba(0, 0, 0, 0.17);
  font-size: 0;
}

body .section .setion-box4 .honor div img {
  width: 585px;
  height: 415px;
  vertical-align: middle;
}

body .section .setion-box4 .honor .honor2 {
  margin-left: 2%;
}

body .section .setion-5 {
  width: 100%;
  height: 888px;
  background-image: url("/img/advantage-bg.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  overflow: hidden;
  position: relative;
}

body .section .setion-5 h4 {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: bold;
  text-decoration: underline;
  color: #39518f;
  margin-top: 50px;
}

body .section .setion-5 h4:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #99d2fc;
}

body .section .setion-5 h3 {
  font-size: 40px;
  font-family: Raleway;
  font-weight: 400;
  color: #333333;
  line-height: 60px;
}

body .section .setion-5 h2 {
  font-size: 40px;
  font-family: PingFang SC;
  font-weight: 800;
  color: #333333;
  line-height: 60px;
}

body .section .setion-5 div {
  width: 100%;
  height: 529px;
  background-image: url("/img/advantage.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 80px;
}

body .section .setion-5 span {
  position: absolute;
  width: 90px;
  height: 90px;
  background: #39518f;
  border-radius: 50%;
  bottom: 120px;
  right: 10px;
  line-height: 120px;
}

body .section .setion-5 span a {
  width: 90px;
  height: 90px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

body .section .setion-5 span img {
  text-align: center;
  display: inline-block;
  width: 38px;
  height: 38px;
}
/*# sourceMappingURL=index.css.map */