@import "init.scss";
@font-face
{
font-family: "azhu";
src: url('../../font/azhu.ttf');
    //  url('Sansation_Bold.eot'); /* IE9+ */
font-weight:bold;
}



body{
    min-width: 1200px;
    .center-wrap{
        .banner{
            width: 100%;
            height: 360px;
            background-image: url("../../img/banner2.png");
            background-repeat: no-repeat;
            background-position: center center;
            text-align: center;
            padding-top: 136px;
            box-sizing: border-box;
            color: #ffffff;
            font-family:"pingfang";
            .name{
                font-size: 54px;
            }
            span{
                font-size:16px;
                font-family:"pingfang";
                font-weight:500;
                color: #ffffff;
            }
            .current{
                color: #FF8D47;
            }
        }
        .promotion, .news{
            max-width: 1200px;
            min-width: 1200px;
            margin: 50px auto 30px auto;
            border:1px solid rgba(221,221,221,1);
            .title{
                height: 100px;
                line-height: 100px;
                text-align: center;
                font-size:24px;
                font-family:"pingfang";
                font-weight:bold;
                color:rgba(51,51,51,1);
                background-color: #dddddd;
            }
            .promotion-item-wrap, .news-item-wrap{
                width: 100%;
                box-sizing: border-box;
                .promotion-item, .news-item{
                    cursor: pointer;
                    width: 100%;
                    height: 160px;
                    padding: 20px;
                    box-sizing: border-box;
                    border-top: 1px solid rgba(227,227,227,1);
                    display: flex;
                    .left{
                        min-width: 160px;
                        height: 120px;
                        border-radius:7px;
                        background-color: #cccccc;
                    }
                    .right{
                        margin-left: 18px;
                        box-sizing: border-box;
                        flex: 1;
                        padding: 6px;
                        .top{
                            font-size:20px;
                            font-family:"pingfang";
                            font-weight:bold;
                            color:rgba(51,51,51,1);
                        }
                        .promotion-center, .news-center{
                            margin: 5px auto;
                            font-size:16px;
                            font-family:"pingfang";
                            font-weight:400;
                            color:rgba(102,102,102,1);
                            line-height:24px;
                            height: 48;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }
                        .bottom{
                            display: flex;
                            justify-content: space-between;
                            .time{
                                font-size:14px;
                                font-family:"pingfang";
                                font-weight:bold;
                                color:rgba(153,153,153,1);
                                line-height:24px;
                            }
                            .more{
                                font-size:14px;
                                font-family:"pingfang";
                                font-weight:bold;
                                text-decoration:underline;
                                color:rgba(255,141,71,1);
                                line-height:24px;
                            }
                        }
                    }
                } 
            }
            .next{
                height: 100px;
                line-height: 100px;
                text-align: center;
                font-size:24px;
                font-family:"pingfang";
                font-weight:bold;
                color:rgba(51,51,51,1);
                padding-top: 40px;
                box-sizing: border-box;
                .icon{
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    margin: 0 auto;
                    background-image: url("../../img/more.png");
                }
            }

        }
        // .news{
        //     max-width: 1200px;
        //     min-width: 1200px;
        //     margin: 0 auto;
        //     border:1px solid rgba(221,221,221,1);
        // }


    }

}

